<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/signIn.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header__container">
            <a class="header__logo" href="../../index.html">
                <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="logo">
                <div class="header__textLogo">
                    <h3>underdog</h3>
                    <span>running store</span>
                </div>
            </a>
            <div class="header__navigation">
                <ul>
                    <li class="navigation__home"><a href="../../index.html">home</a></li>
                    <li class="navigation__products"><a href="../../store/view/store.html">products</a></li>
                </ul>
            </div>
            <div class="header__account">
                <div class="pay">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="account">
                    <a href="../../admin/view/admin.html">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <form action="">
            <h1>login</h1>
            <div class="input-box">
                <input type="text" placeholder="username" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="password" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <button type="submit" class="btn-login">Login</button>
            <div class="register-link">
                <p>
                    Chưa có tài khoản ??
                    <a href="./signUp.html">
                        Sign up
                    </a>
                </p>
            </div>
        </form>
    </div>
</body>

</html>