<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/signUp.css">
</head>

<body>
    <!-- header -->
    <header>
        <div id="menu-bar" class="fa fa-bars"></div>
        <a class="header__logo" href="../../index.html">
            <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="logo">
            <div class="header__textLogo">
                <h3>underdog</h3>
            </div>
        </a>
    </header>
    <div class="wrapper">
        <form action="">
            <h1>Sign Up</h1>
            <div class="input-box">
                <input type="text" placeholder="username" id="account" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="password" id="password" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="MSSV" id="mssv" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="email" id="email" required>
            </div>
            <button type="button" class="btn-signUp">Sign Up</button>
            <h4 id="signUp-success"></h4>
            <div class="register-link">
                <p>
                    login
                    <a href="./signIn.html">
                        LOG IN
                    </a>
                </p>
            </div>
        </form>
    </div>
    <script type="module" src="../../admin/controller/signUp.js"></script>
</body>

</html>