<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đồ án web 1</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/store.css">
</head>

<body class="">
    <!-- header -->
    <header>
        <div id="menu-bar" class="fa fa-bars"></div>
        <a class="header__logo" href="../../index.html">
            <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="logo">
            <div class="header__textLogo">
                <h3>underdog</h3>
            </div>
        </a>
        <nav class="navbar">
            <a href="../../index.html">Home</a>
            <a href="#product">Product</a>
            <a href="../../admin/view/admin.html">Admin</a>
            <a href="#">blog</a>
            <a href="#contact">news</a>
        </nav>
        <div class="icons">
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </header>

    <!-- carousel -->
    <section class="carousel">
        <div class="carousel__img">
            <img src="../../assets/img/carousel.webp" alt="jordan">
        </div>
    </section>

    <!-- product -->
    <section class="product" id="product">
        <div class="product__container">
            <form class="product__search">
                <label for="search" style="font-size: 25px;">search name shoe:</label><br>
                <input type="text" id="search" placeholder="search">
                <button class="search__button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="product__box">
                <div class="box">
                    <div class="icons">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="content">
                        <img src="../../assets/img/product1/1.jpg" alt="">
                        <h3>Nike Shoes</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTab">
                <h1>Shopping Cart</h1>
                <div class="listCart"></div>
                <div class="btn">
                    <button class="close">CLOSE</button>
                    <button class="checkOut">Check Out</button>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <button id="scrollTopBtn">
        <i class="fa-solid fa-chevron-up"></i>
    </button>
    <script type="module" src="../../store/controller/helper.js"></script>

    <script type="module" src="../controller/store.js"></script>
</body>

</html>