<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đồ án web 1</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/store.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header__container">
            <div class="header__logo">
                <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="logo">
                <div class="header__textLogo">
                    <h3>underdog</h3>
                    <span>running store</span>
                </div>
            </div>
            <div class="header__navigation">
                <ul>
                    <li class="navigation__home"><a href="#">home</a></li>
                    <li class="navigation__products"><a href="#">products</a></li>
                </ul>
            </div>
            <div class="header__account">
                <div class="pay">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="account">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
    </header>

    <!-- carousel -->
    <section class="carousel">
        <div class="carousel__img">
            <img src="../../assets/img/carousel.webp" alt="jordan">
        </div>
    </section>

    <!-- product -->
    <section class="product">
        <div class="product__container">
            <form class="product__search">
                <label for="search" style="font-size: 25px;">search name shoe:</label><br>
                <input type="text" id="search" placeholder="search">
                <button class="search__button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
            <div class="product__card">
                <div class="product__img">
                    <img src="../../assets/img/jordan.jpeg" alt="jordan">
                </div>
                <div class="product__title">
                    <span class="product__trademark">jordan</span>
                    <h5 class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum,
                        molestias!
                    </h5>
                    <h4 class="product__price">3200$</h4>
                </div>
                <div class="product__cart">
                    <button>mua hàng
                        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="Shoe Shop Logo"
                    style="border-radius: 50%;">
                <h3 style="text-transform: uppercase;">underdog</h3>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i> facebook</li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i> twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            &copy; 2023 Shoe Shop. Tất cả quyền được bảo lưu.
        </div>
    </footer>

    <button id="scrollTopBtn">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    <script src="../controller/store.js"></script>
</body>

</html>