<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/admin.css">
</head>

<body>
    <!-- header -->
    <header>
        <div class="header__container">
            <div class="header__logo">
                <img src="../../assets/img/pngtree-modern-sneaker-shoe-logo-image_401565.jpg" alt="logo">
                <div class="header__textLogo">
                    <h3>underdog</h3>
                    <span>running store</span>
                </div>
            </div>
            <div class="header__navigation">
                <ul>
                    <li class="navigation__home"><a href="#">home</a></li>
                    <li class="navigation__products"><a href="#">products</a></li>
                </ul>
            </div>
            <div class="header__account">
                <div class="pay">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="account">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
    </header>

    <!-- product management -->
    <section class="product-management">
        <div class="product-container">
            <table class="product-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Mô Tả</th>
                        <th>Giá</th>
                        <th>Hãng</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sản Phẩm 1</td>
                        <td>Mô tả sản phẩm 1.</td>
                        <td>$10</td>
                        <td>jordan</td>
                        <td>htpps//...</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sản Phẩm 2</td>
                        <td>Mô tả sản phẩm 2.</td>
                        <td>$10</td>
                        <td>nike</td>
                        <td>htpps//...</td>
                    </tr>
                    <!-- Thêm các hàng sản phẩm khác ở đây -->
                </tbody>
            </table>
        </div>
    </section>


    <!-- users management -->
    <section class="users-management">
        <div class="users-container">
            <table class="users-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Account</th>
                        <th>Password</th>
                        <th>Xác nhận hàng </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Huy</td>
                        <td>Huybang1144</td>
                        <td>1</td>
                        <td>thành công</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sản Phẩm 2</td>
                        <td>Mô tả sản phẩm 2.</td>
                        <td>$10</td>
                        <td>đang chờ</td>
                    </tr>
                    <!-- Thêm các hàng sản phẩm khác ở đây -->
                </tbody>
            </table>
        </div>
    </section>

</body>

</html>